antlr4-python3-runtime==4.9.3
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.4
Cython==3.0.3
Flask==2.0.3
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.0
networkx==3.1
numpy==1.24.4
pkg_resources==0.0.0
pygraphviz==1.11
pytz==2023.3.post1
requests==2.27.1
simplejson==3.19.2
six==1.16.0
stix2==3.0.1
stix2-patterns==2.0.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.17
Werkzeug==2.0.3
zipp==3.6.0
