<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Seeing...</title>
  <link rel="stylesheet" href="/static/style.css">
  <script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.157.0/build/three.module.js ", //"/static/js/lib/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.157.0/examples/jsm/"
    }
  }
  </script>
</head>
<body>
<div id="info">
  MOVE mouse &amp; press LEFT/A: rotate, MIDDLE/S: zoom, RIGHT/D: pan
  <br />
  TOUCH screen, SINGLE finger swipe: rotate, TWO finger pinch: zoom, TWO finger swipe pan
</div>
<div id="console">

</div>
<script type="module" src="/static/js/app.js"></script>
</body>
</html>
