body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: monospace;
}

div {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  font-size: 12px;
  padding: 10px;


}

#console {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 20%;
  max-height: 75vh;
  color: lightcyan;
  font-size: 11px;
  overflow: auto;
}

#coord {
  position: absolute;
  padding: 10px;
  right: 0;
  bottom: 0;
}

#label {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  color: black;
  font-size: 12px;
}

.hidden {
  display: none;
  visibility: hidden;
}